
  <div class="comic-card" style=<%= "background-image:url(#{comic.images.first.path}/portrait_xlarge.#{comic.images.first.extension})" %> >
    <div class="comic-like-btn">
      <%= turbo_frame_tag "like-btn-#{comic.id}" do %>
        <%= render partial: "like_button", locals: { comic_id: comic.id } %>
      <% end %>
    </div>
    <div class="comic-card-text-box">
      <p class="comic-card-title"><%= comic.title %></p>
    </div>
  </div>
