.comics-results {
  margin-top: 23vh;
  .comic-card {
    width: 200px;
    height: 350px;
    margin: 2rem;
    background-size: auto;
    position: relative;
    cursor: pointer;
    .comic-like-btn img {
      position: absolute;
      top: 0;
      right: 0;
    }
    #heart-on {
      visibility: hidden;
    }
    #heart-off {
      visibility: hidden;
      transform: translate(-5px, 10px);
    }
    &:hover {
      .comic-card-text-box {
        visibility: visible;
      }
      #heart-on {
        visibility: visible;
      }
      #heart-off {
        visibility: visible;
      }
    }

    .comic-card-text-box {
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 16%;
      font-weight: 400;
      font-size: 0.9rem;
      padding: 0.5rem;
      text-transform: uppercase;
      visibility: hidden;
    }
  }
  #heart-on {
    transform: translateY(6px);
  }
}
